@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

#popup {
  display: none;
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  /* width: 70%; */
  height: 70%;
  background-color: #273b80;
  border: 2px solid #273b80;
  overflow: auto;
  z-index: 999;
  color: white;
}

.popup-content {
  display: flex;
  font: inherit;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.popup-left {
  justify-content: center;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}

.popup-image {
  width: 100%;
  height: 100%; /* Fill the container height */
  object-fit: contain;
}

.popup-right {
  /* align-items: right; */
  margin: 5%;
  width: 70%;
  /* padding: 5%; */
  display: flex;
  flex-direction: column;
  /* font-size: 36px; */
  font-size: 16px;
  margin: 15px;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.popup-right h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}
.popup-fact {
  display: flex;
  flex-direction: column;
  /* text-align: start; */
  justify-content: space-around;
  /* margin: 2px; */
}
.popup-right li {
  align-self: start;
  margin: 5px;
}
.quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.quiz-button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.truefalse-btn {
  margin-right: 2px;
  margin-left: 2px;
}

.bottom-btn {
  align-self: bottom;
  margin-top: 10px;
  width: 90px;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  background-color: #d9d9d9;
  color: #273b80;
}

.bottom-btn:hover {
  color: #d9d9d9;
  background-color: #526ed0;
  cursor: pointer;
}

.truefalse-btn {
  align-self: bottom;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  background-color: #d9d9d9;
  color: #273b80;
}

.truefalse-btn:hover {
  color: #d9d9d9;
  background-color: #526ed0;
  cursor: pointer;
}
